// Colors
$color-blue-dark: #4261A0;
$color-blue: #617fb9;
$color-blue-light: #8ca4d5;
$color-blue-light-extra: #beceed;

$color-green-dark: #33938C;
$color-green: #52AeA7;
$color-green-light: #80cec9;

$svg-grey: rgba(255, 255, 255, .1);
$svg-grey-light: rgba(255, 255, 255, .3);

// Shadows
$shadow-navigation: 0px 3px 10px -3px rgba(0,0,0,.7);

// Spacing
$spacing-heading: .5rem;
$spacing-subheading: .3rem;