.g1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 100%;

    text-align: left;

    display: grid;
    grid-template-columns: 1fr 60rem 60rem 1fr;
    grid-template-rows: 8rem 12rem 5rem 8rem 12rem 1fr;

    @include respond(big-desktop) {
        grid-template-columns: 1fr 70rem 70rem 1fr;
        grid-template-rows: 10rem 15rem 5rem 8rem 12rem 1fr;
    }

    &__background {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: center;
        height: 100%;

        background-image: url('../../../assets/gear-page/g1__background.png');
        background-size: cover;
        background-position: bottom;
        opacity: .9;
        z-index: 0;
    }

    &__photo {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;
        height: 40rem;
        width: 60rem;

        background-image: url('../../../assets/gear-page/g1__photo.png');
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    &__heading {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 5.5rem;
        z-index: 1;
        font-weight: $font-weight-bold;
    }

    &__line {
        grid-column: 3 / 4;
        grid-row: 2 / 3;

        width: 11rem;
        border-bottom: solid 5px $color-yellow;
        transform: translate(11rem, -3rem);
        z-index: 1;

        @include respond(big-desktop) {
            transform: translate(11rem, -6rem);
        }
    }

    &__paragraph-1 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;

        font-size: 1.8rem;
        font-weight: $font-weight-light;
        width: 55rem;
        z-index: 1;

        @include respond(big-desktop) {
            font-size: 2rem;
        }
    }

    &__paragraph-2 {
        grid-column: 3 / 4;
        grid-row: 4 / 5;

        font-size: 1.8rem;
        font-weight: $font-weight-light;
        z-index: 1;

        @include respond(big-desktop) {
            font-size: 2rem;
        }
    }

    &__button {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
        align-self: flex-end;

        height: 6rem;
        width: 20rem;
        background: $color-blue;
        border: none;
        color: #fff;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 1;

        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            background: $color-yellow;
            color: #000;
        }
    }
}