.gearPage {
    @include respond(big-desktop) {
        grid-template-rows: 75rem repeat(4, 60rem);
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60rem repeat(4, 40rem);

    align-items: center;
    font-size: 2.4rem;
    text-align: center;

    background: #F0F0F0;
}

.g2-4__background {
    grid-column: 1 / -1;
    grid-row: 2/ 6;
    height: 100%;
    opacity: .1;

    background-image: url('../../../assets/gear-page/fade-thin.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
}

.g2-4__background-overlay {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    height: 100%;

    background-image: url('../../../assets/work-page/w2-5/w1__background.png');
    background-size: cover;
    background-position: bottom;
    transform: rotate(180deg);
    z-index: 0;
    opacity: .7;
}

// W1: Our Work
@import './sass/pages/gearPage/g1';

// W2: Featured Video
@import './sass/pages/gearPage/g2';

// W3: Corporate Video
@import './sass/pages/gearPage/g3';

// W4: Commercial Video
@import './sass/pages/gearPage/g4';

// W5: Informational Video
@import './sass/pages/gearPage/g5';