.homePage {
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90vh 90rem 70rem 70rem 20rem;

    align-items: center;
    font-size: 2.4rem;

    @include respond(tab-land) {
        grid-template-rows: 90vh 90rem 70rem 60rem 20rem;
    }

    @include respond(tab-port) {
        grid-template-rows: 90rem 150rem 95rem 20rem;
    }

    @include respond(phone) {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        grid-template-rows: 80rem 150rem 95rem 20rem;
    }

    @include respond(small-phone) {
        grid-template-rows: 60rem 145rem 78rem 15rem;
    }

    // WEB HERO
    &__web-hero {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__web-hero-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-bottom: 5px solid $color-blue;

        @include respond(tab-port) {
            display: none;
        }
    }
    
    &__web-hero-video {
        object-fit: cover;
        transform: scale(1.1);

        @include respond(tab-port) {
            display: none;
        }
    }

    &__chevron-container {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        z-index: 1;
        width: 6rem;
        height: 6rem;
        justify-self: center;
        background: $svg-grey-light;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .3s ease;

        @include respond(tab-port) {
            display: none;
        }

        &:hover {
            background: #fff;
            cursor: pointer;
            box-shadow: $shadow-navigation;
            transform: scale(1.1);
        }
    }

    &__chevron-svg {
        width: 5rem;
        height: 5rem;

        @include respond(tab-port) {
            display: none;
        }
    }

    // SLOGAN
    &__slogan {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 10rem 35rem 35rem 10rem 1fr;
        grid-template-rows: 10rem 8rem 6rem 45rem 1fr;
        background-image: url('../../assets/home-page/DSC00192.JPG.jpg');
        background-size: cover;
        background-position: center;

        @include respond(tab-land) {
            grid-template-columns: 1fr 5rem 30rem 30rem 5rem 1fr;
        }

        @include respond(tab-port) {
            grid-row: 1 / 2;
            grid-template-columns: 1fr 25rem 25rem 1fr;
        }

        @include respond(phone) {
            grid-template-columns: 1fr 20rem 20rem 1fr;
            grid-template-rows: 8rem 6rem 6rem 50rem 1fr;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr 15rem 15rem 1fr;
            grid-template-rows: 4rem 5rem 6rem 38rem 1fr;
        }
    }

    &__slogan-filter {
        grid-row: 1 / -1;
        grid-column: 1 / -1;

        background: linear-gradient(to bottom, rgba(255, 255, 255, .95), rgba(255, 255, 255, .2));
        width: 100%;
        height: 100%;
    }

    &__slogan-heading {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 5.6rem;
        text-transform: uppercase;
        color: $color-blue-dark;
        letter-spacing: $spacing-heading;
        text-shadow: 0px 1px 1.5px rgba($color: #000000, $alpha: .5);

        @include respond(tab-land) {
            font-size: 4.8rem;
        }

        @include respond(tab-port) {
            grid-column: 1 / -1;
        }

        @include respond(phone) {
            font-size: 3.6rem;
        }

        @include respond(small-phone) {
            font-size: 2.8rem;
        }
    }

    &__slogan-subheading {
        grid-column: 2 / 6;
        grid-row: 3 / 4;

        font-size: 2.8rem;
        font-weight: 100;
        color: $color-blue-dark;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;

        @include respond(tab-land) {
            font-size: 2.4rem;
        }

        @include respond(tab-port) {
            grid-column: 1 / -1;
        }

        @include respond(phone) {
            font-size: 2.4rem;
        }

        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    &__slogan-box {
        grid-column: 3 / 5;
        grid-row: 4 / 5;

        border: solid 2px $color-blue;
        border-radius: 5px;
        padding: 5rem 0;

        display: grid;
        grid-template-rows: 1fr 5rem 3rem 4rem 7rem 10rem 10rem 1fr;
        grid-template-columns: 1fr;

        box-shadow: 1px 1px 3px 2px rgba($color: #000000, $alpha: .2);
        background: #fff;
        transition: all .3s ease;

        @include respond(tab-land) {
            grid-template-rows: 1fr 5rem 3rem 4rem 7rem 8rem 10rem 1fr;
        }

        @include respond(tab-port) {
            grid-template-rows: 1fr 5rem 3rem 6rem 7rem 8rem 10rem 1fr;
            grid-column: 2 / 4;
        }

        @include respond(phone) {
            grid-template-rows: 1fr 8rem 3rem 6rem 6rem 8rem 10rem 1fr;
        }

        @include respond(small-phone) {
            grid-template-rows: 3rem 5rem 3rem 5rem 5rem 7rem 1fr;
            padding: 0;
        }

        &:hover {
            box-shadow: 2px 2px 8px 5px rgba($color: #000000, $alpha: .2);
        }
    }

    &__slogan-box-heading {
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 2.8rem;
        font-weight: 100;
        color: $color-blue;
        letter-spacing: $spacing-subheading;

        @include respond(tab-land) {
            font-size: 2.4rem;
        }

        @include respond(small-phone) {
            grid-column: 1 / -1;
            width: 25rem;
            font-size: 1.8rem;
            margin: 0 auto;
        }
    }

    &__slogan-box-notch {
        grid-row: 3 / 4;
        align-self: flex-start;

        border-bottom: solid 5px $color-blue;
        width: 5rem;
        margin: 0 auto;

        @include respond(tab-land) {
            border-bottom: solid 3px $color-blue;
        }
    }

    &__slogan-box-paragraph1 {
        grid-row: 4 / 5;
        align-self: flex-start;

        font-size: 1.8rem;
        color: $color-blue;

        @include respond(tab-land) {
            font-size: 1.6rem;
        }

        @include respond(tab-port) {
            width: 40rem;
            justify-self: center;
        }

        @include respond(small-phone) {
            grid-column: 1 / -1;
            width: 25rem;
            font-size: 1.2rem;
        }
    }

    &__slogan-box-paragraph2 {
        grid-row: 5 / 6;
        align-self: flex-start;

        font-size: 1.8rem;
        color: $color-blue;

        @include respond(tab-land) {
            font-size: 1.6rem;
        }

        @include respond(small-phone) {
            font-size: 1.2rem;
        }
    }

    &__slogan-box-button {
        justify-self: center;
        align-self: flex-start;

        height: 7rem;
        width: 25rem;
        border-radius: 5px;

        background-color: #fff;
        color: $color-blue;
        border: solid 2px $color-blue;
        font-size: 1.8rem;
        text-transform: uppercase;
        outline: none;

        transition: all .3s ease;

        @include respond(tab-land) {
            font-size: 1.6rem;
            height: 6rem;
            width: 22rem;
        }

        @include respond(small-phone) {
            font-size: 1.4rem;
            height: 5rem;
            width: 18rem;
        }

        &:hover {
            background-color: $color-blue;
            color: white;
            cursor: pointer;
        }

        &--1 {
            grid-row: 6 / 7;
        }

        &--2 {
            grid-row: 7 / 8;
        }
    }

    // What People Say
    &__testimonials {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        height: 100%;
        background: linear-gradient(90deg, $color-blue-light-extra, $color-blue-dark);

        display: grid;
        grid-template-columns: 1fr repeat(3, 30rem) 1fr;
        grid-template-rows: 8rem 10rem 42rem 5rem;

        @include respond(tab-land) {
            grid-template-columns: 1fr repeat(3, 23.333rem) 1fr;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            grid-template-rows: 8rem 10rem repeat(3, 42rem) 5rem;
            grid-template-columns: 1fr 50rem 1fr;
        }

        @include respond(phone) {
            grid-template-columns: 1fr 40rem 1fr;
            grid-template-rows: 8rem 8rem repeat(3, 42rem) 5rem;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr 30rem 1fr;
            grid-template-rows: 6rem 6rem repeat(3, 42rem) 5rem;
        }
    }

    &__testimonials-heading {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: center;

        color: #fff;
        font-size: 4.2rem;
        font-weight: 100;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;

        @include respond(tab-land) {
            font-size: 3.8rem;
        }

        @include respond(phone) {
            font-size: 3.2rem;
        }

        @include respond(small-phone) {
            font-size: 2.8rem;
        }
    }

    &__testimonial-container {
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;

        border: 3px solid #fff;
        border-radius: 10px;
        height: 38rem;
        width: 27rem;
        box-shadow: 1px 1px 3px 2px rgba($color: #000000, $alpha: .2);

        display: grid;
        grid-template-columns: 1fr 22rem 1fr;
        grid-template-rows: 1fr 10rem 2rem 9rem 5rem 3rem 3rem 1fr;
        background: $color-green;

        @include respond(tab-land) {
            width: 22rem;
            grid-template-rows: 1fr 8rem 2rem 9rem 5rem 3rem 3rem 1fr;
        }

        @include respond(tab-port) {
            grid-template-rows: 1fr 10rem 2rem 9rem 5rem 3rem 3rem 1fr;
            width: 27rem;
        }

        @include respond(small-phone) {
            grid-template-rows: 1fr 7rem 2rem 9rem 5rem 3rem 3rem 1fr;
            height: 36rem;
        }

        &--1 {
            grid-column: 2 / 3;

            @include respond(tab-port) {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
            }
        }

        &--2 {
            grid-column: 3 / 4;

            @include respond(tab-port) {
                grid-row: 4 / 5;
                grid-column: 1 / -1;
            }
        }

        &--3 {
            grid-column: 4 / 5;

            @include respond(tab-port) {
                grid-row: 5 / 6;
                grid-column: 1 / -1;
            }
        }
    }

    &__testimonial-quote {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: flex-start;

        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;

        @include respond(tab-land) {
            font-size: 1.6rem;
            width: 20rem;
            justify-self: center;
        }

        @include respond(tab-port) {
            font-size: 2rem;
            width: 23rem;
        }

        @include respond(small-phone) {
            font-size: 1.6rem;
        }
    }

    &__testimonial-line {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;

        border-top: 2px solid #fff;
        width: 8rem;
    }

    &__testimonial-photo {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        align-self: center;
        justify-self: center;

        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        border: 2px solid #fff;
        background-size: cover;
        background-position: center;

        &--1 {
            background-image: url('../../assets/home-page/logos/concentric.ico');
        }

        &--2 {
            background-image: url('../../assets/home-page/logos/hh.jpg');
        }

        &--3 {
            background-image: url('../../assets/home-page/logos/LazorYost.jpg');
        }
    }

    &__testimonial-name {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        align-self: flex-start;

        color: #fff;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 100;
        align-self: center;
        letter-spacing: $spacing-subheading;

        @include respond(tab-land) {
            font-size: 1.4rem;
        }

        @include respond(tab-port) {
            font-size: 1.8rem;
        }
    }

    &__testimonial-title-1 {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        align-self: center;

        color: #fff;
        font-size: 1.4rem;

        @include respond(tab-land) {
            font-size: 1.2rem;
        }

        @include respond(tab-port) {
            font-size: 1.4rem;
        }
    }

    &__testimonial-title-2 {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
        align-self: flex-start;

        color: #fff;
        font-size: 1.4rem;

        @include respond(tab-land) {
            font-size: 1.2rem;
        }

        @include respond(tab-port) {
            font-size: 1.4rem;
        }
    }

    // What We Do
    &__photos {
        grid-row: 4 / 5;
        grid-column: 1 / 2;

        display: grid;
        grid-template-columns: 1fr repeat(3, 30rem) 1fr;
        grid-template-rows: 1fr 8rem 40rem 1fr;
        
        @include respond(tab-land) {
            grid-template-columns: 1fr repeat(3, 23.333rem) 1fr;
            grid-template-rows: 1fr 8rem 34rem 1fr;
        }

        @include respond(tab-port) {
            grid-row: 3 / 4;
            grid-template-columns: 1fr 25rem 25rem 1fr;
            grid-template-rows: 1fr 8rem repeat(3, 24rem) 1fr;
        }

        @include respond(phone) {
            grid-template-columns: 1fr 20rem 20rem 1fr;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr 15rem 15rem 1fr;
            grid-template-rows: 4rem 6rem repeat(3, 20rem) 1fr;
        }
    }

    &__photos-line {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
        z-index: 0;
        height: 20rem;
        width: 105rem;

        background: linear-gradient(90deg, $color-green, $color-green, $color-blue-light);
        transform: skew(-15deg) rotate(-5deg) translateY(4rem);

        transition: transform .5s .15s ease;

        @include respond(tab-land) {
            width: 80rem;
            height: 16rem;
        }

        @include respond(tab-port) {
            display: none;
        }
    }

    &__photos-heading {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        
        color: $color-green;
        font-size: 4.2rem;
        font-weight: 100;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;

        @include respond(tab-land) {
            font-size: 3.8rem;
        }

        @include respond(phone) {
            font-size: 3.2rem;
        }

        @include respond(small-phone) {
            font-size: 2.8rem;
        }
        
    }

    &__photo-container {
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;
        z-index: 1;

        border: 3px solid $color-blue;
        border-radius: 50%;
        height: 27rem;
        width: 27rem;
        box-shadow: 1px 1px 3px 2px rgba($color: #000000, $alpha: .2);
        background-size: cover;
        background-position: center;
        transition: all .5s ease;
        transform: scale(.9);

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        @include respond(tab-land) {
            height: 22rem;
            width: 22rem;
        }

        @include respond(phone) {
            height: 20rem;
            width: 20rem;
        }

        @include respond(small-phone) {
            height: 15rem;
            width: 15rem;
        }

        &--1 {
            grid-column: 2 / 3;
            background-image: url('../../assets/home-page/what-we-do-1.jpg');

            @include respond(tab-port) {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }

            &:hover ~ .homePage__photo-text2--corporate {
                transform: translateY(-18rem);
                opacity: 1;

                @include respond(tab-land) {
                    transform: translateY(-15rem);
                }

                @include respond(tab-port) {
                    display: none;
                }
            }

            &:hover ~ .homePage__photo-text3--corporate {
                opacity: 1;
            }
        }

        &--2 {
            grid-column: 3 / 4;
            background-image: url('../../assets/home-page/what-we-do-2.jpg');

            @include respond(tab-port) {
                grid-column: 3 / 4;
                grid-row: 4 / 5;
            }

            &:hover ~ .homePage__photo-text2--commercial {
                transform: translateY(-18rem);
                opacity: 1;

                @include respond(tab-land) {
                    transform: translateY(-15rem);
                }

                @include respond(tab-port) {
                    display: none;
                }
            }

            &:hover ~ .homePage__photo-text3--commercial {
                opacity: 1;
            }
        }

        &--3 {
            grid-column: 4 / 5;
            background-image: url('../../assets/home-page/what-we-do-3.jpg');

            @include respond(tab-port) {
                grid-column: 2 / 3;
                grid-row: 5 / 6;
            }

            &:hover ~ .homePage__photo-text2--informational {
                transform: translateY(-18rem);
                opacity: 1;

                @include respond(tab-land) {
                    transform: translateY(-15rem);
                }

                @include respond(tab-port) {
                    display: none;
                }
            }

            &:hover ~ .homePage__photo-text3--informational {
                opacity: 1;
            }
        }


        &:hover ~ .homePage__photos-line {
            transform: skew(15deg) rotate(5deg) translateY(4rem);
        }

        &:hover {
            cursor: pointer;
            box-shadow: 1px 1px 10px 5px rgba($color: #000000, $alpha: .3);
            transform: scale(1.02);

            @include respond(tab-port) {
                transform: scale(.9);
            }
        }

        &:hover > .homePage__photo-text-container--white {
            opacity: 1;

            @include respond(tab-port) {
                opacity: 0;
            }
        }

        &:active {
            cursor: pointer;
            box-shadow: 1px 1px 3px 2px rgba($color: #000000, $alpha: .2);
            transform: scale(.95);
            border: 3px solid $color-green;

            @include respond(tab-port) {
                transform: scale(.9);
            }
        }

        overflow: hidden;
    }

    &__photo-text-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;

        height: 7rem;
        width: 100%;
        box-shadow: 1px 1px 2px 1px rgba($color: #000000, $alpha: .3);
        z-index: 1;
        border-top: 1px solid $color-green;
        border-bottom: 1px solid $color-green;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        &--white {
            background: #fff;
            opacity: 0;
            transition: all .3s ease;
        }

        &--green {
            background: rgba(82, 174, 167, .8);

            @include respond(small-phone) {
                background: $color-green;
                height: 6rem;
            }
        }
    }

    &__photo-text1 {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: center;
        margin: 0 auto;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2rem;

        @include respond(small-phone) {
            font-size: 1.6rem;
        }

        &--white {
            color: #fff;
        }

        &--blue {
            color: $color-blue;
        }
    }

    &__photo-text2 {
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;
        z-index: 0;

        color: $color-green;
        font-weight: bold;
        text-transform: uppercase;
        transform: translateY(0);
        opacity: 0;
        transition: all .5s .1s ease;
        background: rgba(82, 174, 167, .8);
        color: #fff;
        // border: 1px solid $color-green;
        padding: 1rem;
        font-size: 2.2rem;
        box-shadow: 1px 1px 10px 0px rgba($color: #000000, $alpha: .4);

        @include respond(tab-land) {
            font-size: 1.8rem;
            width: 25rem;
        }

        &--corporate {
            grid-column: 2 / 3;
        }

        &--commercial {
            grid-column: 3 / 4;

            @include respond(phone) {
                display: none;
            }
        }

        &--informational {
            grid-column: 4 / 5;

            @include respond(tab-port) {
                display: none;
            }
        }
    }

    &__photo-text3 {
        grid-row: 4 / 5;
        grid-column: 2 / 5;
        font-size: 2rem;
        color: $color-blue;
        opacity: 0;
        transition: all .5s ease;

        @include respond(tab-port) {
            align-self: flex-start;
            margin-top: 5rem;
            font-size: 1.8rem;
            opacity: 1;
            font-weight: 300;
        }

        @include respond(phone) {
            font-size: 1.4rem;
            margin-top: 6rem;
        }

        @include respond(phone) {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        @include respond(small-phone) {
            font-size: 1rem;
            font-weight: 300;
        }

        &--corporate {
            @include respond(tab-port) {
                grid-column: 3 / 4;
                grid-row: 3 / 4;
                margin-left: 2rem;
            }
        }

        &--commercial {
            @include respond(tab-port) {
                grid-column: 2 / 3;
                grid-row: 4 / 5;
                margin-right: 2rem;
            }

            @include respond(small-phone) {
                margin-right: 0rem;
            }
        }

        &--informational {
            @include respond(tab-port) {
                grid-column: 3 / 4;
                grid-row: 5 / 6;
                margin-left: 2rem;
            }
        }
    }

    &__photos-text4 {
        display: none;

        @include respond(tab-port) {
            display: inline-block;
            font-size: 1.4rem;
            text-transform: uppercase;
            justify-self: center;
            align-self: center;
            margin-top: 12rem;

            color: $color-blue;
            border: 2px solid $color-blue;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 1px 1px 6px 0px rgba($color: #000000, $alpha: .2);
        }

        @include respond(tab-port) {
            font-size: 1rem;
            margin-top: 8rem;
        }

        @include respond(small-phone) {
            padding: .8rem;
        }

        &:hover {
            color: #fff;
            background: $color-blue;
            cursor: pointer;
            transition: all .3s ease;
            box-shadow: 1px 1px 4px 0px rgba($color: #000000, $alpha: .4);
        }

        &--1 {
            grid-row: 3 / 4;
            grid-column: 3 / 4;
            margin-left: 2rem;
        }

        &--2 {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
            margin-right: 2rem;
        }

        &--3 {
            grid-row: 5 / 6;
            grid-column: 3 / 4;
            margin-left: 2rem;
        }
    }

    // STAT
    &__stat {
        grid-row: 5 / 6;
        grid-column: 1 / 2;

        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, $color-green, $color-blue, $color-blue-dark);

        display: grid;
        justify-items: center;
        align-content: center;

        @include respond(tab-port) {
            grid-row: 4 / 5;
        }
    }

    &__stat-paragraph {
        color: #fff;
        font-size: 2.8rem;
        font-weight: 100;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;

        @include respond(phone) {
            font-size: 2rem;
        }
    }
}