.homePage {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60rem 70rem 50rem 60rem 20rem;

    align-items: center;
    font-size: 2.4rem;

    @include respond(phone) {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    &__web-hero {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50rem 10rem;
    }

    &__web-hero-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    &__web-hero-video {
        width: 100%;
    }

    &__chevron-container {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        z-index: 1;
        width: 6rem;
        height: 6rem;
        justify-self: center;
        background: $svg-grey-light;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;

        transition: all .3s ease;

        &:hover {
            background: #fff;
            cursor: pointer;
            box-shadow: $shadow-navigation;
            transform: scale(1.1);
        }
    }

    &__chevron-svg {
        width: 5rem;
        height: 5rem;
    }

    // Slogan
    &__slogan {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 10rem 35rem 35rem 10rem 1fr;
        grid-template-rows: 1fr 8rem 6rem 45rem 1fr;
    }

    &__slogan-heading {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 5.6rem;
        text-transform: uppercase;
        color: $color-blue;
        letter-spacing: $spacing-heading;
    }

    &__slogan-subheading {
        grid-column: 2 / 6;
        grid-row: 3 / 4;

        font-size: 2.8rem;
        font-weight: 100;
        color: $color-blue;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;
    }

    &__slogan-box {
        grid-column: 3 / 5;
        grid-row: 4 / 5;

        border: solid 5px $color-blue;

        display: grid;
        grid-template-rows: 1fr 5rem 3rem 4rem 7rem 10rem 10rem 1fr;

        box-shadow: 1px 1px 3px 2px rgba($color: #000000, $alpha: .2);
        transition: all .3s ease;

        &:hover {
            box-shadow: 2px 2px 8px 5px rgba($color: #000000, $alpha: .2);
        }
    }

    &__slogan-box-heading {
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 2.8rem;
        font-weight: 100;
        color: $color-blue;
        letter-spacing: $spacing-subheading;
    }

    &__slogan-box-notch {
        grid-row: 3 / 4;
        align-self: flex-start;

        border-bottom: solid 5px $color-blue;
        width: 5rem;
        margin: 0 auto;
    }

    &__slogan-box-paragraph1 {
        grid-row: 4 / 5;
        align-self: flex-start;

        font-size: 1.8rem;
        color: $color-blue;
    }

    &__slogan-box-paragraph2 {
        grid-row: 5 / 6;
        align-self: flex-start;

        font-size: 1.8rem;
        color: $color-blue;
    }

    &__slogan-box-button {
        justify-self: center;
        align-self: flex-start;

        height: 7rem;
        width: 25rem;

        background-color: #fff;
        color: $color-blue;
        border: solid 2px $color-blue;
        font-size: 1.8rem;
        text-transform: uppercase;
        outline: none;

        transition: all .3s ease;

        &:hover {
            background-color: $color-blue;
            color: white;
            cursor: pointer;
        }

        &--1 {
            grid-row: 6 / 7;
        }

        &--2 {
            grid-row: 7 / 8;
        }
    }

    // Testimonials
    &__testimonials {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        height: 100%;
        background-color: greenyellow;
    }


    &__photos {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }


    &__stat {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
}