.homePage {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 80rem 65rem 60rem 20rem;

    align-items: center;
    font-size: 2.4rem;

    @include respond(phone) {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    // WEB HERO
    &__web-hero {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;
    }

    &__web-hero-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-bottom: 5px solid $color-blue;
    }
    
    &__web-hero-video {
        width: 100%;
        transform: scale(1.5);
    }

    &__chevron-container {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        z-index: 1;
        width: 6rem;
        height: 6rem;
        justify-self: center;
        background: $svg-grey-light;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .3s ease;

        &:hover {
            background: #fff;
            cursor: pointer;
            box-shadow: $shadow-navigation;
            transform: scale(1.1);
        }
    }

    &__chevron-svg {
        width: 5rem;
        height: 5rem;
    }

    // SLOGAN
    &__slogan {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 10rem 35rem 35rem 10rem 1fr;
        grid-template-rows: 10rem 8rem 6rem 45rem 1fr;
    }

    &__slogan-heading {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 5.6rem;
        text-transform: uppercase;
        color: $color-blue;
        letter-spacing: $spacing-heading;
    }

    &__slogan-subheading {
        grid-column: 2 / 6;
        grid-row: 3 / 4;

        font-size: 2.8rem;
        font-weight: 100;
        color: $color-blue;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;
    }

    &__slogan-box {
        grid-column: 3 / 5;
        grid-row: 4 / 5;

        border: solid 5px $color-blue;

        display: grid;
        grid-template-rows: 1fr 5rem 3rem 4rem 7rem 10rem 10rem 1fr;

        box-shadow: 1px 1px 3px 2px rgba($color: #000000, $alpha: .2);
        transition: all .3s ease;

        &:hover {
            box-shadow: 2px 2px 8px 5px rgba($color: #000000, $alpha: .2);
        }
    }

    &__slogan-box-heading {
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 2.8rem;
        font-weight: 100;
        color: $color-blue;
        letter-spacing: $spacing-subheading;
    }

    &__slogan-box-notch {
        grid-row: 3 / 4;
        align-self: flex-start;

        border-bottom: solid 5px $color-blue;
        width: 5rem;
        margin: 0 auto;
    }

    &__slogan-box-paragraph1 {
        grid-row: 4 / 5;
        align-self: flex-start;

        font-size: 1.8rem;
        color: $color-blue;
    }

    &__slogan-box-paragraph2 {
        grid-row: 5 / 6;
        align-self: flex-start;

        font-size: 1.8rem;
        color: $color-blue;
    }

    &__slogan-box-button {
        justify-self: center;
        align-self: flex-start;

        height: 7rem;
        width: 25rem;

        background-color: #fff;
        color: $color-blue;
        border: solid 2px $color-blue;
        font-size: 1.8rem;
        text-transform: uppercase;
        outline: none;

        transition: all .3s ease;

        &:hover {
            background-color: $color-blue;
            color: white;
            cursor: pointer;
        }

        &--1 {
            grid-row: 6 / 7;
        }

        &--2 {
            grid-row: 7 / 8;
        }
    }

    // TESTIMONIALS
    &__testimonials {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        height: 100%;
        background-image: linear-gradient(90deg, $color-blue-light-extra, $color-blue-dark);
        background-size: 100% 100%;
        animation: gradient 5s ease infinite;

        display: grid;
        grid-template-columns: 1fr repeat(3, 30rem) 1fr;
        grid-template-rows: 8rem 8rem 42rem 5rem;
    }

    &__testimonials-heading {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: center;

        color: #fff;
        font-size: 3.2rem;
        font-weight: 100;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;
    }

    &__testimonial-container {
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;

        border: 3px solid #fff;
        border-radius: 10px;
        height: 38rem;
        width: 27rem;
        box-shadow: 1px 1px 3px 2px rgba($color: #000000, $alpha: .2);

        display: grid;
        grid-template-columns: 1fr 22rem 1fr;
        grid-template-rows: 1fr 10rem 2rem 9rem 5rem 3rem 3rem 1fr;
        background: $color-green;

        &--1 {
            grid-column: 2 / 3;
        }

        &--2 {
            grid-column: 3 / 4;
        }

        &--3 {
            grid-column: 4 / 5;
        }
    }

    &__testimonial-quote {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: flex-start;

        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;
    }

    &__testimonial-line {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;

        border-top: 2px solid #fff;
        width: 8rem
    }

    &__testimonial-photo {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        align-self: center;
        justify-self: center;

        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        border: 2px solid #fff;
        background-size: cover;
        background-position: center;

        &--1 {
            background-image: url('../../assets/home-page/logos/concentric.ico');
        }

        &--2 {
            background-image: url('../../assets/home-page/logos/hh.jpg');
        }

        &--3 {
            background-image: url('../../assets/home-page/logos/LazorYost.jpg');
        }
    }

    &__testimonial-name {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        align-self: flex-start;

        color: #fff;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 100;
        align-self: center;
        letter-spacing: $spacing-subheading;
    }

    &__testimonial-title-1 {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        align-self: center;

        color: #fff;
        font-size: 1.4rem;
    }

    &__testimonial-title-2 {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
        align-self: flex-start;

        color: #fff;
        font-size: 1.4rem;
    }

    // PHOTOS
    &__photos {
        grid-row: 4 / 5;
        grid-column: 1 / 2;

        display: grid;
        grid-template-columns: 1fr repeat(3, 30rem) 1fr;
        grid-template-rows: 1fr 8rem 40rem 1fr;
    }

    &__photos-heading {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        
        color: $color-green;
        font-size: 3.2rem;
        font-weight: 100;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;
    }

    &__photo-container {
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;

        border: 3px solid $color-blue;
        border-radius: 10px;
        height: 40rem;
        width: 25rem;
        box-shadow: 1px 1px 3px 2px rgba($color: #000000, $alpha: .2);

        &--1 {
            grid-column: 2 / 3;
        }

        &--2 {
            grid-column: 3 / 4;
        }

        &--3 {
            grid-column: 4 / 5;
        }
    }

    // STAT
    &__stat {
        grid-row: 5 / 6;
        grid-column: 1 / 2;

        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, $color-blue, $color-blue-light);
        background-size: 100% 100%;
        animation: gradient 5s ease infinite;

        display: grid;
        justify-items: center;
        align-content: center;
    }

    &__stat-paragraph {
        color: #fff;
        font-size: 2.8rem;
        font-weight: 100;
        align-self: flex-start;
        letter-spacing: $spacing-subheading;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}