// Section 2
#service__qualities-container {
    margin-top: 6rem;

    @include respond(tab-land) {
        align-items: center;
        margin-top: 4rem;
    }
}

#service__quality-container {
    align-items: center;
    justify-content: center;
    background: $color-blue-grey;
    width: 100%;
    height: 20rem;

    text-decoration: none;
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        background: $color-yellow;
        color: $color-yellow;
    }

    @include respond(tab-land) {
        width: 50rem;
        height: 15rem;
        margin-top: 4rem;
        box-shadow: $shadow-card;
    }

    @include respond(phone) {
        width: 37rem;
        height: 10rem;
        margin-top: 3rem;
        text-align: center;
    }

    @include respond(small-phone) {
        width: 30rem;
        height: 9rem;
        margin-top: 3rem;
        text-align: center;
    }
}

#service__quality-text {
    color: #fff;
    transition: color .3s ease;
}

#service__quality-container:hover > #service__quality-text{
    color: $color-blue;
}
