// Section 4
#service__4-background {
    height: 50rem;
    width: 100%;
    background: $color-blue-grey;

    @include respond(tab-land) {
        height: 40rem;
    }

    @include respond(phone) {
        background: $color-yellow;
        height: 30rem;
        margin-top: 6rem;
    }
}

#service__4-container {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#service__4-paragraph {
    margin-top: 2rem;

    @include respond(phone) {
        margin-top: 1rem;
    }

    @include respond(small-phone) {
        width: 30rem;
        text-align: center;
    }
}

#service__4-button {
    margin-top: 6rem;

    @include respond(phone) {
        margin-top: 4rem;
        color: $color-yellow;
        font-weight: 800;
    }

    &:active {

        @include respond(phone) {
            background: $color-blue;
            color: #fff;
        }
    }

    &:focus {

        @include respond(phone) {
            background: $color-blue;
            color: #fff;
        }
    }
}
