// Section 4
#service__4-background {
    position: relative;
    height: 50rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: 1;

    @include respond(tab-land) {
        height: 40rem;
    }

    @include respond(phone) {
        height: 30rem;
    }
}

#service__4-filter {
    position: absolute;
    top: 0;
    background: rgba(45, 56, 70, 0.644);
    width: 100%;
    height: 100%;
    z-index: 2;
}

#service__4-container {
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 3;
}

#service__4-heading {
    font-weight: 600;
    letter-spacing: 1.8px;

    @include respond(phone) {
        width: 25rem;
        margin: 0 auto;
        text-align: center;
        font-size: 2.6rem;
        letter-spacing: 2px;
    }

    @include respond(small-phone) {
        width: 22rem;
        font-size: 2rem;
    }
}

#service__4-button {
    margin-top: 4rem;
}
