// Sections
@import './section1';
@import './section2';
@import './section3';
@import './section4';
@import './serviceModal';

#service {
    background: $color-grey-background;
}

#service__flip-section {
    @include respond(tab-land) {
        margin-top: 20rem;
        display: flex;
        flex-direction: column-reverse;
    }

    @include respond(tab-port) {
        margin-top: 18rem;
    }

    @include respond(phone) {
        margin-top: 12rem;
    }

    @include respond(small-phone) {
        margin-top: 10rem;
    }
}
