// Service Modal
#service__modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;

    height: 90vh;
    width: 90vw;
    background: $color-blue;
    border-radius: $border-radius;
    box-shadow: $shadow-card;

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: all .3s ease;
}

#service__modal-container-false {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -2;

    height: 90vh;
    width: 90vw;
    background: $color-blue;
    border-radius: $border-radius;
    box-shadow: $shadow-card;

    transform: translate(-50%, -50%) scale(.9);
    opacity: 0;
    transition: all .3s ease;
}

#service__modal-icon-container {
    position: absolute;
    right: 0;
    margin: 1rem 2rem 0 0;
}

#service__modal-logo {
    height: 5rem;
    width: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: center;
}

#service__modal-scroll {
    @include respond(big-desktop) {
        border: none;
    }

    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: $border-radius;
    border: 1px solid $color-blue-grey;
    margin: 0 1rem 1rem;
}

#service__modal-text-container {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% + 1px);
}

#service__modal-heading {
    text-align: center;
    margin-top: 3rem;

    @include respond(tab-land) {
        width: 70rem;
    }

    @include respond(tab-port) {
        width: 52rem;
    }

    @include respond(phone) {
        width: 36rem;
    }

    @include respond(small-phone) {
        width: 26rem;
    }
}

#service__modal-paragraph-1 {
    text-align: center;
    margin-top: 2rem;
    width: 77rem;

    @include respond(tab-land) {
        width: 70rem;
    }

    @include respond(tab-port) {
        width: 48rem;
    }

    @include respond(phone) {
        width: 36rem;
    }

    @include respond(small-phone) {
        width: 26rem;
    }
}

#service__modal-paragraph-2 {
    text-align: center;
    margin-top: 2rem;

    @include respond(tab-land) {
        width: 75rem;
    }

    @include respond(tab-port) {
        width: 52rem;
    }

    @include respond(phone) {
        width: 36rem;
    }

    @include respond(small-phone) {
        width: 26rem;
    }
}

#service__modal-form {
    margin-top: 4rem;
    width: 40%;
    
    @include respond(tab-land) {
        width: 50%;
    }

    @include respond(tab-port) {
        width: 60%;
    }

    @include respond(phone) {
        width: 70%;
    }

    @include respond(small-phone) {
        width: 80%;
    }
}

#service__modal-button {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
