// Sections
@import './section1';
@import './section2';
@import './section3';
@import './section4';
@import './serviceModal';

#service {
    background: $color-grey-background;
}

#service__flip-section {
    @include respond(phone) {
        display: flex;
        flex-direction: column-reverse;
    }
}
