.w6 {
    @include respond(big-desktop) {
        grid-template-columns: 1fr 40rem 40rem 30rem 30rem 1fr;
    }

    grid-row: 6 / 7;
    grid-column: 1 / 2;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 35rem 35rem 25rem 25rem 1fr;
    grid-template-rows: repeat(3, 1fr);

    @include respond(tab-land) {
        grid-template-columns: 1fr 35rem 35rem 1fr;
    }

    @include respond(tab-port) {
        grid-template-columns: 1fr 26rem 26rem 1fr;
        grid-template-rows: 10rem repeat(2, 1fr);
    }

    @include respond(phone) {
        grid-template-columns: 1fr 26rem 14rem 1fr;
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 23rem 5rem 1fr;
    }

    &__background {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        background: #000;
    }

    &__photo {
        grid-column: 4 / -1;
        grid-row: 1 / -1;

        background-image: url('../../../assets/work-page/w6/mike.png');
        background-size: cover;
        background-position: center;

        @include respond(tab-land) {
            grid-column: 3 / -1;
        }

        @include respond(tab-port) {
            grid-column: 1 / -1;
        }
    }

    &__banner {
        display: none;

        @include respond(tab-port) {
            display: inline;
            grid-column: 1 / 3;
            grid-row: 2 / -1;
            justify-self: flex-start;
    
            height: 13rem;
            width: 110%;
            background: #000;
            z-index: 1;
        }

        @include respond(small-phone) {
            opacity: .8;
        }
    }

    &__heading {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: flex-start;

        color: #fff;
        font-size: 3.6rem;
        margin-bottom: 8rem;
        font-weight: $font-weight-regular;

        @include respond(tab-land) {
            grid-row: 2 / 3;
            align-self: flex-start;
            margin-bottom: 0;
        }

        @include respond(tab-port) {
            grid-column: 1 / 3;
            grid-row: 2 / -1;
            justify-self: flex-end;
            text-align: right;
            font-size: 3.2rem;
            z-index: 1;
        }

        @include respond(small-phone) {
            font-size: 2.8rem;
        }
    }

    &__line {
        @include respond(big-desktop) {
            width: 50rem;
        }

        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: flex-start;

        width: 40rem;
        height: 5px;
        background: $color-yellow;

        @include respond(tab-land) {
            grid-row: 2 / 3;
            align-self: flex-start;
            margin-top: 7rem;
        }

        @include respond(tab-port) {
            grid-column: 1 / 3;
            width: 100%;
            margin-top: 6rem;
            z-index: 1;
        }
    }

    &__paragraph {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: flex-start;

        color: #fff;
        font-size: 1.8rem;
        margin-top: 8rem;
        font-weight: $font-weight-light;

        @include respond(tab-land) {
            grid-row: 2 / 3;
            align-self: flex-start;
            margin-top: 9rem;
        }

        @include respond(tab-port) {
            font-size: 1.4rem;
            justify-self: flex-start;
            text-align: left;
            z-index: 1;
        }

        @include respond(tab-port) {
            font-size: 1.2rem;
        }
    }

    &__vimeo-icon {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: flex-start;

        fill: #fff;
        margin-top: 8rem;
        margin-left: 29.5rem;

        height: 3rem;
        width: 3rem;

        transition: all .3s ease;

        @include respond(tab-land) {
            grid-row: 2 / 3;
            align-self: flex-start;
            margin-top: 9rem;
        }

        @include respond(tab-port) {
            z-index: 1;
            grid-column: 1 / 3;
            justify-self: flex-end;
        }

        &:hover {
            cursor: pointer;
            fill: $color-yellow;
            transform: scale(1.1);
        }
    }

    &__video {
        @include respond(big-desktop) {
            width: 356px;
            height: 200px;
        }

        grid-column: 3 / 4;
        align-self: center;
        justify-self: flex-end;

        width: 320px;
        height: 180px;

        @include respond(tab-land) {
            display: none;
        }

        &--1 {
            grid-row: 1 / 2;
        }

        &--2 {
            grid-row: 2 / 3;
        }

        &--3 {
            grid-row: 3 / 4;
        }
    }
}