.workPage {
    @include respond(big-desktop) {
        grid-template-rows: 75rem repeat(4, 50rem) 75rem;
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60rem repeat(4, 40rem) 60rem;

    align-items: center;
    font-size: 2.4rem;
    text-align: center;

    background: #F0F0F0;

    @include respond(tab-land) {
        grid-template-rows: 60rem repeat(4, 30rem) 50rem;
    }

    @include respond(tab-port) {
        grid-template-rows: 50rem repeat(3, 55rem) 60rem 50rem;
    }

    @include respond(phone) {
        grid-template-rows: 45rem repeat(3, 45rem) 60rem 50rem;
    }

    @include respond(small-phone) {
        grid-template-rows: 45rem repeat(3, 40rem) 50rem 50rem;
    }
}

.w2-5__background {
    grid-column: 1 / -1;
    grid-row: 2 / 6;
    height: 100%;

    background-image: url('../../../assets/work-page/w2-5/fade-thin.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
    z-index: 0;
    opacity: .1;
}

.w2-5__background-overlay {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    height: 100%;

    background-image: url('../../../assets/work-page/w2-5/w1__background.png');
    background-size: cover;
    background-position: bottom;
    transform: rotate(180deg);
    z-index: 0;
    opacity: .7;
}

// W1: Our Work
@import './sass/pages/workPage/w1';

// W2: Featured Video
@import './sass/pages/workPage/w2';

// W3: Corporate Video
@import './sass/pages/workPage/w3';

// W4: Commercial Video
@import './sass/pages/workPage/w4';

// W5: Informational Video
@import './sass/pages/workPage/w5';

// W6: More of our work
@import './sass/pages/workPage/w6';