.t2 {
    @include respond(big-desktop) {
        grid-template-columns: 1fr repeat(3, 46.666rem) 1fr;
    }

    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr repeat(3, 40rem) 1fr;
    grid-template-rows: 1fr 10rem;
    z-index: 1;

    @include respond(tab-land) {
        grid-template-columns: 1fr 50rem 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    @include respond(phone) {
        grid-template-columns: 1fr 20rem 20rem 1fr;
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 16rem 16rem 1fr;
    }

    // PHOTO 1
    &__photo-container-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        @include respond(tab-land) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            align-self: flex-start;
            height: 50rem;
        }

        &:hover > .t2__description-container-1 {
            opacity: 1;
        }
    }

    &__photo-1 {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background-image: url('../../../assets/team-page/Keith-bnw.png');
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    &__banner {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: flex-end;

        height: 4rem;
        width: 100%;
        background: #000;
        z-index: 1;
    }

    &__line {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: flex-end;

        border-top: dotted 5px $color-yellow;
        width: 30rem;
        margin: 0 auto 1.5rem;
        z-index: 1;
    }

    &__description-container-1 {
        @include respond(big-desktop) {
            grid-template-columns: 1fr 45rem 1fr;
            grid-template-rows: 5rem 13rem 15rem 20rem auto 1rem 5rem;
        }

        grid-column: 1 / -1;
        grid-row: 1 / -1;
        opacity: 0;

        background: rgba(78, 96, 119, .8);
        transition: opacity .5s ease;
        z-index: 1;
        text-align: left;

        display: grid;
        grid-template-columns: 1fr 40rem 1fr;
        grid-template-rows: 4rem 10rem 12rem 17rem auto 1rem 5rem;

        @include respond(tab-land) {
            grid-template-columns: 1fr 45rem 1fr;
            grid-template-rows: 4rem 10rem 12rem 14rem auto 1rem 5rem;
        }

        @include respond(phone) {
            grid-template-columns: 1fr 40rem 1fr;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr 32rem 1fr;
            grid-template-rows: 3rem 10rem 12rem 16rem auto 1rem 5rem;
        }
    }

    &__line-top {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;

        border-top: dotted 5px $color-yellow;

        &--1 {
            @include respond(big-desktop) {
                width: 29rem;
            }

            width: 26rem;

            @include respond(small-phone) {
                width: 20rem;
            }
        }

        &--2 {
            @include respond(big-desktop) {
                width: 42rem;
            }

            width: 35rem;

            @include respond(small-phone) {
                width: 28rem;
            }
        }

        &--3 {
            @include respond(big-desktop) {
                width: 25rem;
            }

            width: 23rem;

            @include respond(small-phone) {
                width: 20rem;
            }
        }
    }

    &__name {
        @include respond(big-desktop) {
            font-size: 5.5rem;
        }

        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 4.5rem;
        color: #fff;
        text-align: center;
        font-weight: $font-weight-regular;

        @include respond(small-phone) {
            font-size: 3.6rem;
            margin-top: 1rem;
        }
    }

    &__title {
        @include respond(big-desktop) {
            font-size: 3rem;
        }

        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: flex-end;

        font-size: 2.4rem;
        color: $color-yellow;
        text-align: center;
        font-weight: $font-weight-regular;

        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    &__paragraph-1 {
        @include respond(big-desktop) {
            font-size: 1.6rem;
            width: 40rem;
        }

        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: flex-end;
        justify-self: center;

        font-size: 1.4rem;
        color: #fff;
        width: 36rem;
        font-weight: $font-weight-regular;

        @include respond(tab-land) {
            width: 90%;
        }

        @include respond(small-phone) {
            font-size: 1.2rem;
        }
    }

    &__paragraph-2 {
        @include respond(big-desktop) {
            font-size: 1.6rem;
            width: 40rem;
        }

        grid-column: 2 / 3;
        grid-row: 4 / 5;
        align-self: flex-end;
        justify-self: center;

        font-size: 1.4rem;
        color: #fff;
        width: 36rem;
        font-weight: $font-weight-regular;

        @include respond(tab-land) {
            width: 90%;
        }

        @include respond(small-phone) {
            font-size: 1.2rem;
        }
    }

    &__line-bottom {
        grid-column: 2 / 3;
        grid-row: 6 / -1;
        justify-self: center;
        align-self: flex-end;
        
        width: 30rem;
        border-bottom: solid 5px $color-yellow;
        margin-bottom: 1.5rem;
    }

    // PHOTO 2
    &__photo-container-2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        @include respond(tab-land) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            align-self: flex-start;
            height: 50rem;
        }

        &:hover > .t2__description-container-2 {
            opacity: 1;
        }
    }

    &__photo-2 {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background-image: url('../../../assets/team-page/Mike-bnw.png');
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    &__description-container-2 {
        @include respond(big-desktop) {
            grid-template-columns: 1fr 45rem 1fr;
            grid-template-rows: 5rem 13rem 24rem 17rem auto 1rem 5rem;
        }

        grid-column: 1 / -1;
        grid-row: 1 / -1;
        opacity: 0;

        background: rgba(78, 96, 119, .8);
        transition: opacity .5s ease;
        z-index: 1;
        text-align: left;

        display: grid;
        grid-template-columns: 1fr 40rem 1fr;
        grid-template-rows: 4rem 10rem 19rem 15rem auto 1rem 5rem;

        @include respond(tab-land) {
            grid-template-columns: 1fr 45rem 1fr;
            grid-template-rows: 4rem 10rem 16rem 14rem auto 1rem 5rem;
        }

        @include respond(phone) {
            grid-template-columns: 1fr 40rem 1fr;
            grid-template-rows: 4rem 10rem 20rem 14rem auto 1rem 5rem;
        }
        
        @include respond(small-phone) {
            grid-template-columns: 1fr 32rem 1fr;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr 32rem 1fr;
            grid-template-rows: 3rem 10rem 15rem 12rem auto 1rem 5rem;
        }
    }

    // PHOTO 3
    &__photo-container-3 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        @include respond(tab-land) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            align-self: flex-start;
            height: 50rem;
        }

        &:hover > .t2__description-container-3 {
            opacity: 1;
        }
    }

    &__photo-3 {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background-image: url('../../../assets/team-page/Alex-bnw.png');
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    &__description-container-3 {
        @include respond(big-desktop) {
            grid-template-columns: 1fr 45rem 1fr;
            grid-template-rows: 5rem 13rem 24rem 17rem auto 1rem 5rem;
        }

        grid-column: 1 / -1;
        grid-row: 1 / -1;
        opacity: 0;

        background: rgba(78, 96, 119, .8);
        transition: opacity .5s ease;
        z-index: 1;
        text-align: left;

        display: grid;
        grid-template-columns: 1fr 40rem 1fr;
        grid-template-rows: 4rem 10rem 19rem auto 1rem 5rem;

        @include respond(tab-land) {
            grid-template-columns: 1fr 45rem 1fr;
            grid-template-rows: 4rem 10rem 19rem 1rem auto 1rem 5rem;
        }

        @include respond(phone) {
            grid-template-columns: 1fr 40rem 1fr;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr 32rem 1fr;
            grid-template-rows: 4rem 10rem 18rem 1rem auto 1rem 5rem;
        }
    }
}
