.teamPage {
    @include respond(big-desktop) {
        grid-template-rows: repeat(3, 75rem);
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 60rem);

    align-items: center;
    font-size: 2.4rem;
    text-align: center;

    background: #F0F0F0;

    @include respond(tab-land) {
        grid-template-rows: 60rem 165rem 50rem;
    }

    @include respond(tab-port) {
        grid-template-rows: 50rem 165rem 50rem;
    }
}

.t2__background {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 100%;

    background-image: url('../../../assets/team-page/fade-thin.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
    z-index: 0;
    opacity: .1;
}

// T1: Meet the team
@import './sass/pages/teamPage/t1';

// T2: Photos
@import './sass/pages/teamPage/t2';

// Summary
@import './sass/pages/teamPage/t3';