.footer {
    @include respond(big-desktop) {
        grid-template-columns: 1fr 140rem 1fr;
        grid-template-rows: 1fr 15rem 15rem 1fr;
    }

    grid-column: 2 / -1;
    grid-row: 3 / 4;

    text-align: center;

    background-color: #6F6F6F;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 120rem 1fr;
    grid-template-rows: 1fr 15rem 15rem 1fr;

    @include respond(tab-land) {
        grid-template-columns: 1fr 70rem 1fr;
    }

    @include respond(tab-port) {
        grid-template-columns: 1fr 50rem 1fr;
    }

    @include respond(phone) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        grid-template-columns: 1fr 40rem 1fr;
        grid-template-rows: 1fr 12rem 12rem 1fr;
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 30rem 1fr;
        grid-template-rows: 1fr 11rem 12rem 1fr;
    }

    &__heading {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 3.6rem;
        text-transform: uppercase;

        @include respond(phone) {
            font-size: 2.8rem;
        }
    }

    &__paragraph {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;

        font-size: 1.8rem;
        margin-top: 2rem;
        font-weight: $font-weight-regular;

        @include respond(phone) {
            margin-top: 1rem;
            font-size: 1.6rem;
        }

        @include respond(small-phone) {
            font-size: 1.4rem;
            margin-top: 2rem;
        }
    }

    &__number {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: flex-end;

        width: 11rem;
        margin: 0 auto 1rem;
        font-size: 1.8rem;
        text-decoration: none;
        color: #fff;
        font-weight: $font-weight-regular;

        transition: all .3s ease;

        @include respond(phone) {
            font-size: 1.6rem;
        }

        @include respond(small-phone) {
            font-size: 1.4rem;
        }

        &:hover {
            color: $color-yellow;
            transform: scale(1.05);
        }
    }

    &__badge-link {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 10rem;
        height: 10rem;
        margin-top: 2rem;

        @include respond(phone) {
            width: 7rem;
            height: 7rem;
        }
    }

    &__badge {
        width: 10rem;
        height: 10rem;

        @include respond(phone) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            grid-template-columns: 1fr 40rem 1fr;
            grid-template-rows: 1fr 12rem 12rem 1fr;
        }

        @include respond(phone) {
            width: 7rem;
            height: 7rem;
        }
    }
}