.footer {
    grid-column: 2 / -1;
    grid-row: 3 / 4;

    text-align: center;

    background-color: #6F6F6F;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 140rem 1fr;
    grid-template-rows: 1fr 20rem 1fr;

    &__heading {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: flex-start;

        font-size: 4.5rem;
        text-transform: uppercase;
    }

    &__paragraph {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;

        font-size: 2.5rem;
        margin-top: 2rem;
    }

    &__number {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: flex-end;

        font-size: 2.5rem;
        text-decoration: none;
        color: #fff;

        transition: all .3s ease;

        &:hover {
            color: $color-yellow;
            transform: scale(1.05);
        }
    }
}