.header {
    background-color: #000;
    height: 6rem;
    color: #fff;

    display: grid;
    grid-template-columns: 8rem 8rem 1fr 8rem 1fr 8rem 8rem;

    &__menu {
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
    }

    &__logo {
        grid-column: 4 / 5;
        justify-self: center;
        align-self: center;
    }

    &__email {
        grid-column: 6 / 7;
        justify-self: center;
        align-self: center;
    }

    &__phone {
        grid-column: 7 / 8;
        justify-self: center;
        align-self: center;
    }
}