.h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 25rem 25rem 1fr;
    grid-template-rows: 1fr 25rem 1rem 7rem 7rem 20rem;

    @include respond(big-desktop) {
        grid-template-columns: 1fr 30rem 30rem 1fr;
        grid-template-rows: 1fr 20rem 1rem 7rem 7rem 25rem;
    }

    @include respond(tab-land) {
        grid-template-rows: 1fr 25rem 1rem 7rem 7rem 20rem;
    }

    @include respond(tab-port) {
        display: none;
    }

    // WEB HERO
    &__web-hero-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 0;

        @include respond(tab-port) {
            display: none;
        }
    }
    
    &__web-hero-video {
        object-fit: cover;

        @include respond(tab-port) {
            display: none;
        }
    }

    // Slogan
    &__overlay {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background: rgba(0, 0, 0, .6);
        z-index: 1;
    }

    &__slogan {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        align-self: flex-end;
        z-index: 1;

        color: #fff;
        font-size: 6rem;
        letter-spacing: 2.5px;
        font-weight: $font-weight-bold;

        @include respond(big-desktop) {
            font-size: 7.5rem;
        }
    }

    &__line {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        justify-self: center;
        align-content: center;
        z-index: 1;
        background: $color-yellow;
        width: 65rem;
        height: 5px;

        @include respond(big-desktop) {
            width: 78rem;
        }
    }

    &__sub-slogan {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        align-self: center;
        z-index: 1;

        color: $color-grey;
        font-size: 2rem;
        font-weight: $font-weight-light;
        text-transform: uppercase;

        @include respond(big-desktop) {
            font-size: 2.5rem;
        }
    }

    &__button-1-link {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: center;
        z-index: 1;
    }

    // Button
    &__button {
        width: 18rem;
        height: 5rem;
        color: #fff;
        border: none;

        font-size: 2rem;
        font-weight: $font-weight-light;

        transition: .3s all ease;

        &--1 {
            background: rgba(78, 96, 119, .5);

            &:hover {
                cursor: pointer;
                background: $color-yellow;
                color: #000;
                font-weight: $font-weight-regular;
            }
        }

        &--2 {
            grid-row: 5 / 6;
            grid-column: 3 / 4;
            align-self: center;
            justify-self: center;
            z-index: 1;
            background: rgba(78, 96, 119, .5);

            &:hover {
                cursor: pointer;
                background: $color-yellow;
                color: #000;
                font-weight: $font-weight-regular;
            }
        }
    }
}