.h2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    @include respond(tab-port) {
        grid-template-columns: 1fr 26rem 26rem 1fr;
        grid-template-rows: 15rem repeat(4, 20rem);
    }

    @include respond(phone) {
        grid-template-columns: 1fr 20rem 20rem 1fr;
        grid-template-rows: 15rem repeat(4, 30rem);
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 16rem 16rem 1fr;
    }

    &__background {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        height: 100%;
        width: 100%;
        background-image: url('../../../assets/home-page/h2/h2_gradient.jpg');
        background-size: cover;
        background-position: bottom;
    }

    &__heading {
        @include respond(big-desktop) {
            font-size: 4rem;
        }

        grid-row: 1 / 2;
        grid-column: 1 / -1;
        align-self: center;

        font-size: 3.6rem;
        font-weight: $font-weight-light;

        @include respond(tab-land) {
            font-size: 3rem;
        }

        @include respond(tab-port) {
            font-size: 2.8rem;
            font-weight: $font-weight-regular;
        }

        @include respond(phone) {
            font-size: 1.8rem;
            font-weight: $font-weight-bold;
        }

        @include respond(small-phone) {
            width: 25rem;
            margin: 0 auto;
            font-size: 2rem;
        }
    }

    &__texture {
        grid-row: 1 / 2;

        border-top: dotted 5px $color-yellow;
        border-left: dotted 5px $color-yellow;

        @include respond(phone) {
            border-top: dotted 2px $color-yellow;
            border-left: dotted 2px $color-yellow;
        }

        &--1 {
            grid-column: 1 / 2;
            margin-top: 8rem;
            width: 3rem;
            justify-self: flex-end;

            @include respond(tab-land) {
                margin-right: 6rem;
            }

            @include respond(tab-port) {
                grid-column: 2 / 3;
                justify-self: flex-start;
                margin-left: -1.5em;
            }

            @include respond(phone) {
                margin-left: 0rem;
            }
        }

        &--2 {
            @include respond(big-desktop) {
                margin-bottom: 8rem;
            }

            grid-column: 4 / 5;
            justify-self: flex-start;
            margin-bottom: 7rem;
            transform: rotate(180deg);
            width: 4rem;
            margin-right: 10rem;

            @include respond(tab-land) {
                margin-left: 6rem;
            }

            @include respond(tab-port) {
                grid-column: 3 / 4;
                justify-self: flex-end;
                margin-right: -3.5rem;
                margin-left: 0;
            }

            @include respond(phone) {
                margin-right: 0rem;
                width: 3rem;
            }
        }
    }

    &__features-container {
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

        background-size: cover;
        background-position: center;

        &--1 {
            background-image: url('../../../assets/home-page/h2/h2__bts-1.jpg');

            @include respond(tab-port) {
                grid-row: 2 / 3;
                grid-column: 1 / -1;
            }
        }

        &--2 {
            background-image: url('../../../assets/home-page/h2/h2__bts-2.jpg');

            @include respond(tab-port) {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
            }
        }

        &--3 {
            background-image: url('../../../assets/home-page/h2/h2__bts-3.jpg');

            @include respond(tab-port) {
                grid-row: 4 / 5;
                grid-column: 1 / -1;
            }
        }

        &--4 {
            background-image: url('../../../assets/home-page/h2/h2__bts-4.jpg');

            @include respond(tab-port) {
                grid-row: 5 / 6;
                grid-column: 1 / -1;
            }
        }
    }

    &__overlay {
        background: rgba(78, 96, 119, .85);
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        height: 100%;
        width: 100%;
    }

    &__sub-heading {
        @include respond(big-desktop) {
            font-size: 3.5rem;
        }

        grid-row: 1 / 2;
        grid-column: 1 / -1;
        color: #fff;
        font-size: 2.8rem;
        font-weight: $font-weight-light;
        align-self: flex-end;

        @include respond(tab-land) {
            font-size: 2.4rem;
        }

        @include respond(tab-port) {
            font-size: 3.2rem;
            color: $color-yellow;
        }
    }

    &__paragraph {
        @include respond(big-desktop) {
            font-size: 1.4rem;
        }

        grid-column: 1 / -1;
        grid-row: 2 / 3;
        color: #fff;
        font-size: 1.2rem;
        font-weight: $font-weight-light;
        align-self: flex-start;

        @include respond(tab-land) {
            padding: 1rem;
        }

        @include respond(tab-port) {
            font-size: 1.8rem;
        }
    }
}