.h2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    &__background {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        height: 100%;
        width: 100%;
        background-image: url('../../../assets/home-page/h2/h2_gradient.jpeg');
        background-size: cover;
        background-position: bottom;
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        align-self: center;

        font-size: 4rem;
        font-weight: 100;
    }

    &__texture {
        grid-row: 1 / 2;

        border-top: dotted 5px $color-yellow;
        border-left: dotted 5px $color-yellow;

        &--1 {
            grid-column: 1 / 2;
            margin-top: 8rem;
            width: 3rem;
            justify-self: flex-end;
        }

        &--2 {
            grid-column: 4 / 5;
            justify-self: flex-start;
            margin-bottom: 8rem;
            transform: rotate(180deg);
            width: 4rem;
            margin-right: 10rem;
        }
    }

    &__features-container {
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

        background-size: cover;
        background-position: center;

        &--1 {
            background-image: url('../../../assets/home-page/h2/h2__bts-1.jpg');
        }

        &--2 {
            background-image: url('../../../assets/home-page/h2/h2__bts-2.jpg');
        }

        &--3 {
            background-image: url('../../../assets/home-page/h2/h2__bts-3.jpg');
        }

        &--4 {
            background-image: url('../../../assets/home-page/h2/h2__bts-4.jpg');
        }
    }

    &__overlay {
        background: rgba(78, 96, 119, .85);
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        height: 100%;
        width: 100%;
    }

    &__sub-heading {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        color: #fff;
        font-size: 3.5rem;
        font-weight: 100;
        align-self: flex-end;
    }

    &__paragraph {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 100;
        align-self: flex-start;
    }
}