.h3 {
    @include respond(big-desktop) {
        grid-template-columns: 1fr 70rem 70rem 1fr;
        grid-template-rows: repeat(3, 75rem);
    }

    grid-row: 3 / 4;
    grid-column: 1 / 2;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 60rem 60rem 1fr;
    grid-template-rows: repeat(3, 60rem);
    z-index: 1;

    @include respond(tab-land) {
        grid-template-columns: 1fr 35rem 35rem 1fr;
    }

    @include respond(tab-port) {
        grid-template-columns: 1fr 26rem 26rem 1fr;
        grid-template-rows: 79rem 88rem 127rem
    }

    @include respond(phone) {
        grid-template-columns: 1fr 20rem 20rem 1fr;
        grid-template-rows: 79rem 80rem 127rem;
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 16rem 16rem 1fr;
        grid-template-rows: 79rem 77rem 127rem;
    }

    // Background Accents
    &__background-1 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: flex-start;
        height: 100rem;

        background-image: url('../../../assets/home-page/h3/corner-fade.png');
        background-size: cover;
        background-position: center;
        opacity: .1;
    }

    &__background-2 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: flex-end;
        height: 100rem;

        background-image: url('../../../assets/home-page/h3/corner-fade.png');
        transform: rotate(180deg);
        background-size: cover;
        background-position: center;
        opacity: .06;
        z-index: 0;
    }

    &__background-3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        height: 100%;
        align-self: flex-end;

        background-image: url('../../../assets/work-page/w2-5/w1__background.png');
        background-size: cover;
        background-position: bottom;
        transform: rotate(180deg);
        z-index: 0;
        opacity: .05;
    }

    // Section 1
    &__section-1 {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);

        @include respond(tab-port) {
            grid-template-rows: 5rem 14rem repeat(3, 20rem);
        }
    }

    &__photo-background {
        @include respond(big-desktop) {
            height: 66rem;
            width: 50rem;
        }

        grid-row: 1 / -1;
        grid-column: 1 / 3;
        align-self: flex-end;
        justify-self: flex-start;

        background-image: url('../../../assets/home-page/h3/h3__pattern.png');
        background-position: center;
        background-size: cover;
        height: 54rem;
        width: 45rem;
        opacity: .5;
        z-index: 1;

        @include respond(tab-land) {
            height: 54rem;
            width: 35rem;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
            align-self: center;
            justify-self: flex-start;

            height: 14rem;
            width: 14rem;
            border-radius: 50%;
            border: solid 3px #000;
            background: #fff;
            z-index: 2;
            opacity: 1;
            transform: translateX(-7rem);
        }

        @include respond(small-phone) {
            height: 12rem;
            width: 12rem;
        }
    }

    &__photo {
        @include respond(big-desktop) {
            height: 60rem;
            width: 70rem;
        }

        grid-row: 1 / -1;
        grid-column: 1 / 3;
        align-self: flex-end;
        justify-self: flex-start;

        background-image: url('../../../assets/home-page/h3/h3__camera.png');
        background-position: center;
        background-size: cover;
        height: 55rem;
        width: 65rem;
        z-index: 2;

        @include respond(tab-land) {
            height: 45rem;
            width: 55rem;
            transform: translate(-5rem, -5rem);
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
            align-self: center;
            justify-self: flex-start;

            height: 15rem;
            width: 20rem;
            transform: translate(0, 0);
            z-index: 3;
            transform: translateX(-10rem);
        }


        @include respond(small-phone) {
            height: 12rem;
            width: 17rem;
        }
    }

    &__heading1 {
        @include respond(big-desktop) {
            font-size: 3.6rem;
        }
    
        grid-row: 1 / -1;
        grid-column: 1 / 3;
        align-self: flex-end;

        color: #fff;
        font-size: 3.6rem;
        font-weight: $font-weight-bold;
        margin-bottom: 2.5rem;
        margin-right: 5rem;
        z-index: 3;

        @include respond(tab-land) {
            margin-bottom: 2.5rem;
            margin-right: 5rem;
            grid-column: 1 / 4;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            grid-column: 2 / 5;
            align-self: center;
            justify-self: flex-end;
            margin-bottom: 1.5rem;
            margin-right: 1.5rem;
        }

        @include respond(phone) {
            grid-column: 2 / 6;
            margin-right: 3rem;
        }

        @include respond(small-phone) {
            font-size: 3.2rem;
            margin-right: 2rem;
        }
    }

    &__heading1-bar {
        @include respond(big-desktop) {
            height: 10rem;
            width: 50rem;
        }

        grid-row: 1 / -1;
        grid-column: 1 / 3;
        align-self: flex-end;
        justify-self: flex-start;

        background: #000;
        height: 10rem;
        width: 45rem;
        z-index: 2;

        @include respond(tab-land) {
            width: 35rem;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            grid-column: 2 / 5;
            align-self: center;
            justify-self: flex-end;
            width: 33rem;
            height: 8rem;
            z-index: 1;
        }

        @include respond(phone) {
            grid-column: 2 / 6;
        }

        @include respond(small-phone) {
            width: 28rem;
        }
    }

    &__heading1-line {
        grid-row: 1 / -1;
        grid-column: 1 / 3;
        align-self: flex-end;
        justify-self: center;

        background: $color-yellow;
        z-index: 2;
        margin-left: 9.5rem;
        margin-bottom: 2rem;
        height: 5px;
        width: 5rem;

        @include respond(tab-land) {
            grid-column: 1 / 4;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            grid-column: 2 / 5;
            align-self: center;
            justify-self: flex-end;
            margin-right: 1rem;
            margin-top: 7rem;
        }

        @include respond(phone) {
            grid-column: 2 / 6;
            margin-right: 2.5rem;
        }

        @include respond(small-phone) {
            margin-right: 2rem;
            width: 4rem;
        }
    }

    &__sub-heading {
        justify-self: flex-end;
        align-self: center;
        text-align: right;

        color: $color-blue;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        margin-bottom: 4rem;

        @include respond(big-desktop) {
            margin-bottom: 0;
        }

        @include respond(small-phone) {
            font-size: 2rem;
        }

        &--1 {
            grid-row: 1 / 2;
            grid-column: 3 / 4;

            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-bottom: 8rem;
            }
        }

        &--2 {
            grid-row: 2 / 3;
            grid-column: 4 / 5;

            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 4 / 5;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-bottom: 8rem;
            }
        }

        &--3 {
            grid-row: 3 / 4;
            grid-column: 5 / 6;

            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 5 / 6;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-bottom: 8rem;
            }
        }

        &--4 {
            grid-column: 1 / 3;
            grid-row: 2 / -1;
            justify-self: flex-start;
            align-self: flex-start;
            margin-left: 10rem;

            @include respond(tab-land) {
                margin-left: 0;
            }

            @include respond(tab-port) {
                grid-column: 1 / 3;
                grid-row: 4 / 5;
            }

            @include respond(phone) {
                grid-column: 1 / 3;
            }
        }
    }

    &__line {
        justify-self: flex-end;
        align-self: center;

        margin-top: 1rem;
        height: 5px;
        background: $color-yellow;

        @include respond(big-desktop) {
            margin-top: 7rem;
        }

        &--1 {
            @include respond(big-desktop) {
                width: 64%;
            }

            grid-row: 1 / 2;
            grid-column: 2 / 4;
            width: 58%;

            @include respond(tab-land) {
                grid-column: 2 / -1;
                width: 65%;
            }

            @include respond(tab-port) {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-bottom: 3.5rem;
                width: 10rem;
            }
        }

        &--2 {
            @include respond(big-desktop) {
                width: 76%;
            }

            grid-row: 2 / 3;
            grid-column: 2 / 5;
            width: 72%;

            @include respond(tab-land) {
                grid-column: 2 / -1;
                width: 65%;
            }

            @include respond(tab-port) {
                grid-row: 4 / 5;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-bottom: 3.5rem;
                width: 10rem;
            }
        }

        &--3 {
            @include respond(big-desktop) {
                width: 80.4%;
            }

            grid-row: 3 / 4;
            grid-column: 2 / 6;
            width: 78%;

            @include respond(tab-land) {
                grid-column: 2 / -1;
                width: 65%;
            }

            @include respond(tab-port) {
                grid-row: 5 / 6;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-bottom: 3.5rem;
                width: 10rem;
            }
        }
    }

    &__paragraph {
        align-self: center;
        justify-self: flex-end;

        text-align: right;
        font-size: 1.4rem;
        font-weight: $font-weight-light;
        margin-top: 7rem;

        @include respond(big-desktop) {
            margin-top: 11rem;
        }

        @include respond(small-phone) {
            font-size: 1.2rem;
            justify-self: center;
            text-align: center;
        }

        &--1 {
            @include respond(big-desktop) {
                grid-row: 1 / 2;
                grid-column: 3 / 4;
            }

            grid-row: 1 / 2;
            grid-column: 2 / 4;

            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-top: 2rem;
            }
        }

        &--2 {
            @include respond(big-desktop) {
                grid-row: 2 / 3;
                grid-column: 4 / 5;
            }

            grid-row: 2 / 3;
            grid-column: 3 / 5;
            
            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 4 / 5;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-top: 2rem;
            }
        }

        &--3 {
            grid-row: 3 / 4;
            grid-column: 4 / 6;

            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 5 / 6;
                grid-column: 1 / -1;
                align-self: center;
                justify-self: center;
                margin-top: 2rem;
            }
        }
    }

    &__button-link {
        align-self: flex-end;
        justify-self: flex-end;
        
        &--1 {
            grid-row: 1 / 2;
            grid-column: 3 / 4;

            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
                align-self: flex-end;
                justify-self: center;
                margin-bottom: 1rem;
            }
        }

        &--2 {
            grid-row: 2 / 3;
            grid-column: 4 / 5;

            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 4 / 5;
                grid-column: 1 / -1;
                align-self: flex-end;
                justify-self: center;
                margin-bottom: 1rem;
            }
        }

        &--3 {
            grid-row: 3 / 4;
            grid-column: 5 / 6;

            @include respond(tab-land) {
                grid-column: 4 / -1;
            }

            @include respond(tab-port) {
                grid-row: 5 / 6;
                grid-column: 1 / -1;
                align-self: flex-end;
                justify-self: center;
                margin-bottom: 1rem;
            }
        }
    }

    &__button {
        height: 4rem;
        width: 12rem;
        font-size: 1rem;
        text-transform: uppercase;
        background: #E2E2E2;
        border: none;
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            background: $color-yellow;
            color: #000;
        }
    }
    

    // Section 2
    &__section-2 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 20rem) 10rem 20rem;

        @include respond(tab-port) {
            grid-template-rows: repeat(3, 20rem) 8rem 20rem;
        }

        @include respond(phone) {
            grid-template-rows: 20rem 15rem 18rem 8rem 15rem;
        }

        @include respond(small-phone) {
            grid-template-rows: 20rem 15rem 18rem 8rem 0rem;
        }
    }

    &__heading2 {
        grid-column: 3 / 6;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        color: #fff;
        font-size: 3rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 6rem;
        z-index: 1;

        @include respond(tab-port) {
            grid-column: 1 / -1;
        }
    }

    &__heading2-bar {
        grid-column: 3 / 6;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        background: #000;
        height: 7rem;
        width: 26rem;
        margin-bottom: 4rem;

        @include respond(tab-port) {
            grid-column: 1 / -1;
        }
    }

    &__heading2-line {
        grid-column: 3 / 6;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        background: $color-yellow;
        height: 5px;
        width: 21rem;
        margin-bottom: 5.5rem;

        @include respond(tab-port) {
            grid-column: 1 / -1;
        }
    }

    &__heading2-sub {
        grid-column: 3 / 6;
        grid-row: 1 / 2;
        align-self: flex-end;

        font-size: 1.4rem;
        font-weight: $font-weight-light;

        @include respond(tab-land) {
            font-size: 1.2rem;
        }

        @include respond(tab-port) {
            grid-column: 1 / -1;
        }

        @include respond(tab-port) {
            width: 30rem;
            margin: 0 auto -2rem;
        }
    }

    &__video {
        @include respond(big-desktop) {
            width: 750px;
            height: 422px;
        }

        grid-column: 3 / 6;
        grid-row: 2 / 4;
        justify-self: center;
        align-self: center;
        width: 650px;
        height: 366px;

        @include respond(tab-land) {
            width: 500px;
            height: 281px;
        }

        @include respond(tab-port) {
            grid-column: 1 / -1;
            grid-row: 2 / 4;
        }

        @include respond(phone) {
            width: 380px;
            height: 214px;
        }

        @include respond(small-phone) {
            width: 300px;
            height: 169px;
        }
    }

    &__line-capabilities {
        grid-column: 1 / 3;
        grid-row: 2 / -1;
        justify-self: flex-start;

        height: 5px;
        width: 80rem;
        background: $color-yellow;
        margin-left: 10rem;
        margin-top: 7rem;

        @include respond(tab-land) {
            width: 60rem;
            margin-left: 0;
        }

        @include respond(tab-port) {
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            justify-self: flex-start;
            align-self: flex-start;
            width: 50rem;
            margin-top: 5rem;
            margin-left: 0;
        }

        @include respond(phone) {
            width: 38rem;
        }

        @include respond(small-phone) {
            width: 28rem;
        }
    }

    &__list {
        @include respond(big-desktop) {
            font-size: 1.4rem;
        }

        grid-column: 1 / 3;
        grid-row: 2 / -1;
        justify-self: center;
        justify-self: flex-start;

        text-align: left;
        font-size: 1.2rem;
        font-weight: $font-weight-light;
        list-style-type: none;
        margin-top: 10rem;
        margin-left: 10rem;

        @include respond(tab-land) {
            margin-left: 0;
        }

        @include respond(tab-port) {
            display: none;
        }
    }

    &__list-alt-1 {
        display: none;

        @include respond(tab-port) {
            display: inline;
            grid-column: 1 / -1;
            grid-row: 5 / 6;
            justify-self: flex-start;

            text-align: left;
            font-size: 1.6rem;
            font-weight: $font-weight-light;
            list-style-type: none;
        }

        @include respond(phone) {
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            font-size: 1.2rem;
        }
    }

    &__list-alt-2 {
        display: none;

        @include respond(tab-port) {
            display: inline;
            grid-column: 2 / 3;
            grid-row: 5 / 6;
            justify-self: flex-end;

            text-align: left;
            font-size: 1.6rem;
            font-weight: $font-weight-light;
            list-style-type: none;
            margin-right: 8rem;
        }

        @include respond(phone) {
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            font-size: 1.2rem;
            margin-right: 0rem;
            margin-left: 2rem;
        }
    }

    // Section 3
    &__section-3 {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        @include respond(tab-port) {
            grid-template-rows: 18rem 5rem repeat(3, 32rem) 8rem;
            grid-template-columns: 1fr;
        }

        @include respond(small-phone) {
            grid-template-rows: 18rem 5rem repeat(3, 30rem) 8rem;
            grid-template-columns: 1fr;
        }
    }

    &__heading3 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        color: #fff;
        font-size: 3.6rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 9.5rem;
        z-index: 1;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            align-self: flex-end;
            margin-bottom: 1rem;
        }

        @include respond(small-phone) {
            font-size: 3.2rem;
            margin-bottom: 1.5rem;
        }
    }

    &__heading3-bar {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        background: #000;
        height: 7rem;
        width: 32rem;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            align-self: flex-end;
            margin-bottom: 0;
        }
    }

    &__heading3-line {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        background: $color-yellow;
        height: 5px;
        width: 11rem;
        margin-bottom: 9rem;
        margin-left: 3rem;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            align-self: flex-end;
            margin-bottom: 1rem;
        }
    }

    &__testimonial-container {
        grid-row: 2 / 4;
        align-self: center;
        justify-self: center;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

        width: 100%;
        height: 100%;

        &--1 {
            grid-column: 1 / 2;

            @include respond(tab-land) {
                grid-column: 1 / 3;
                margin-right: 12rem;
            }

            @include respond(tab-port) {
                grid-column: 1 / -1;
                grid-row: 3 / 4;
                margin-right: 0;
            }
        }

        &--2 {
            grid-column: 2 / 3;

            @include respond(tab-land) {
                grid-column: 2 / 4;
                margin-left: 12rem;
            }

            @include respond(tab-port) {
                grid-column: 1 / -1;
                grid-row: 4 / 5;
                margin-left: 0;
            }
        }

        &--3 {
            grid-column: 3 / 4;

            @include respond(tab-land) {
                display: none;
            }

            @include respond(tab-port) {
                display: grid;
                grid-column: 1 / -1;
                grid-row: 5 / 6;
                margin-left: 0;
            }
        }
    }

    &__box {
        @include respond(big-desktop) {
            width: 86%;
            height: 69%;
        }

        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: flex-start;
        justify-self: center;

        background-image: url('../../../assets/home-page/h3/comment-bubble.png');
        background-size: contain;
        background-position: center;
        width: 86%;
        height: 74%;

        @include respond(tab-land) {
            width: 69.5%;
            height: 69.5%;
        }

        @include respond(tab-port) {
            align-self: center;
            width: 35rem;
            height: 30rem;
            margin: 0 auto;
        }

        @include respond(small-phone) {
            width: 29rem;
            height: 25rem;
        }
    }

    &__quotation-mark {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: flex-start;
        justify-self: center;

        font-size: 60rem;
        opacity: .05;
        transform: translateY(-25rem);

        @include respond(tab-port) {
            transform: translateY(-20rem);
            font-size: 50rem;
        }
    }

    &__quote {
        @include respond(big-desktop) {
            margin-top: 4rem;
            font-size: 1.6rem;
        }

        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: flex-start;
        justify-self: center;

        font-size: 1.4rem;
        margin-top: 2rem;
        width: 70%;
        font-weight: $font-weight-regular;

        @include respond(tab-land) {
            margin-top: 4rem;
            padding: 0 2rem;
        }

        @include respond(tab-port) {
            margin-top: 4rem;
            padding: 0 6rem;
        }

        @include respond(phone) {
            width: 40rem;
        }

        @include respond(small-phone) {
            padding: 0;
            width: 26rem;
            font-size: 1.2rem;
        }
    }

    &__name {
        @include respond(big-desktop) {
            margin-bottom: 3rem;
        }

        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        font-size: 2rem;
        color: $color-blue;
        font-weight: $font-weight-light;
        margin-bottom: 1.5rem;
        text-transform: uppercase;

        @include respond(tab-land) {
            margin-bottom: 2rem;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            align-self: flex-end;
            margin-bottom: 12.5rem;
        }

        @include respond(small-phone) {
            font-size: 1.8rem;
            margin-bottom: 12rem;
        }
    }

    &__title {
        @include respond(big-desktop) {
            margin-bottom: 0;
        }

        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        font-size: 1.4rem;
        font-weight: $font-weight-light;
        margin-bottom: -1rem;

        @include respond(tab-land) {
            margin-bottom: -0.5;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            align-self: flex-start;
            margin-top: 4rem;
        }
    }

    &__company {
        @include respond(big-desktop) {
            margin-bottom: -2rem;
        }

        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: center;

        font-size: 1.4rem;
        font-weight: $font-weight-light;
        margin-bottom: -3rem;

        @include respond(tab-land) {
            margin-bottom: -1.5;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            align-self: flex-start;
            margin-top: 6rem;
        }
    }

    &__line-bottom {
        @include respond(big-desktop) {
            width: 100%;
        }

        grid-row: 3 / 4;
        grid-column: 1 / -1;
        align-self: center;
        
        height: 5px;
        width: 99%;
        background: $color-yellow;
        margin: 4rem auto 0;

        @include respond(tab-port) {
            grid-row: 6 / 7;
            margin: 0 auto 3rem;
        }
    }
}