.homePage {
    @include respond(big-desktop) {
        font-size: 2.4rem;
        grid-template-rows: 75rem 37.5rem 225rem 75rem;
    }

    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60rem 30rem 180rem 60rem;

    align-items: center;
    font-size: 2rem;

    background: #F0F0F0;
    
    @include respond(tab-land) {
        grid-template-rows: 60rem 30rem 180rem 50rem;
    }

    @include respond(tab-port) {
        grid-template-rows: 60rem 95rem auto 50rem;
    }

    @include respond(phone) {
        grid-template-rows: 60rem 135rem auto 50rem;
    }

    &__dotted-line {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;

        &--1 {
            height: 30rem;
            width: 5px;
            border-left: dotted 5px #DDDDDD;
            z-index: 0;
            transform: translate(-25rem, -23rem);

            @include respond(tab-land) {
                height: 15rem;
                transform: translate(-15rem, -25rem);
            }

            @include respond(tab-port) {
                grid-row: 3 / 4;
                align-self: flex-start;
                transform: translate(20rem, 12rem);
                border-left: none;
                border-bottom: dotted 5px #DDDDDD;
                height: 5px;
                width: 10rem;
            }

            @include respond(phone) {
                display: none;
            }
        }

        &--2 {
            height: 5px;
            width: 20rem;
            border-bottom: dotted 5px #DDDDDD;
            z-index: 0;
            transform: translate(-15.2rem, -7.4rem);

            @include respond(tab-land) {
                width: 17rem;
                transform: translate(-6.8rem, -16.8rem);
            }

            @include respond(tab-port) {
                grid-row: 3 / 4;
                align-self: flex-start;
                transform: translate(26rem, 12rem);
                border-left: none;
                border-bottom: none;
                border-right: dotted 5px #DDDDDD;
                height: 80rem;
                width: 5px;
            }

            @include respond(phone) {
                transform: translate(19.5rem, 12rem);
            }
        }

        &--3 {
            @include respond(big-desktop) {
                transform: translate(40rem, 42rem);
                height: 17rem;
            }

            height: 12rem;
            width: 5px;
            border-left: dotted 5px #DDDDDD;
            z-index: 0;
            transform: translate(30rem, 32rem);

            @include respond(tab-port) {
                grid-row: 3 / 4;
                align-self: flex-start;
                transform: translate(19rem, 91.5rem);
                border-left: none;
                border-bottom: dotted 5px #DDDDDD;
                height: 5px;
                width: 12rem;
            }

            @include respond(phone) {
                transform: translate(16rem, 91.5rem);
                width: 6rem;
            }
        }

        &--4 {
            @include respond(big-desktop) {
                transform: translate(15.3rem, 51.3rem);
                width: 50rem;
            }

            height: 5px;
            width: 36rem;
            border-bottom: dotted 5px #DDDDDD;
            z-index: 0;
            transform: translate(12.3rem, 38.6rem);

            @include respond(tab-port) {
                grid-row: 3 / 4;
                align-self: flex-start;
                transform: translate(-20.3rem, 91.5rem);
                border-left: none;
                border-bottom: dotted 5px #DDDDDD;
                height: 5px;
                width: 14rem;
            }

            @include respond(phone) {
                transform: translate(-16.5rem, 91.5rem);
                width: 8rem;
            }
        }

        &--5 {
            @include respond(big-desktop) {
                height: 22rem;
                transform: translate(-23rem, 60rem);
            }

            height: 10rem;
            width: 5px;
            border-left: dotted 5px #DDDDDD;
            z-index: 0;
            transform: translate(-30rem, 45rem);

            @include respond(tab-land) {
                transform: translate(-25rem, 45rem);
            }

            @include respond(tab-port) {
                grid-row: 3 / 4;
                align-self: flex-start;
                transform: translate(-28rem, 91.5rem);
                border-left: none;
                border-bottom: none;
                border-right: dotted 5px #DDDDDD;
                height: 90rem;
                width: 5px;
            }

            @include respond(phone) {
                transform: translate(-21.3rem, 91.5rem);
                height: 83rem;
            }
        }

        &--6 {
            @include respond(big-desktop) {
                transform: translate(-23rem, 71.7rem);
            }

            height: 5px;
            width: 10rem;
            border-bottom: dotted 5px #DDDDDD;
            z-index: 0;
            transform: translate(-23rem, 60rem);

            @include respond(tab-land) {
                transform: translate(0rem, 55rem);
            }

            @include respond(tab-port) {
                grid-row: 3 / 4;
                align-self: flex-start;
                transform: translate(-20.3rem, 181rem);
                border-left: none;
                border-bottom: dotted 5px #DDDDDD;
                height: 5px;
                width: 14rem;
            }

            @include respond(phone) {
                transform: translate(-18.5rem, 175rem);
                width: 6rem;
            }
        }

        &--7 {
            @include respond(big-desktop) {
                transform: translate(23rem, 80rem);
            }

            height: 5px;
            width: 10rem;
            border-bottom: dotted 5px #DDDDDD;
            z-index: 0;
            transform: translate(20rem, 70rem);

            @include respond(tab-land) {
                display: none;
            }

            @include respond(tab-port) {
                display: inline;
                grid-row: 3 / 4;
                align-self: flex-start;
                transform: translate(0rem, 185rem);
                border-left: none;
                border-bottom: none;
                border-right: dotted 5px #DDDDDD;
                height: 10rem;
                width: 5px;
            }

            @include respond(phone) {
                transform: translate(0rem, 177rem);
            }
        }
    }
}

// H1: Web Hero
@import './sass/pages/homePage/h1';

// H2: What makes us great
@import './sass/pages/homePage/h2';

// H3: Parish Digital
@import './sass/pages/homePage/h3';

// H4: What we do
@import './sass/pages/homePage/h4';