.hp1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 25rem 25rem 1fr;
    grid-template-rows: 1fr 25rem 1rem 7rem 7rem 20rem;

    @include respond(big-desktop) {
        grid-template-columns: 1fr 30rem 30rem 1fr;
        grid-template-rows: 1fr 20rem 1rem 7rem 7rem 25rem;
    }

    @include respond(tab-land) {
        grid-template-rows: 1fr 25rem 1rem 7rem 7rem 20rem;
    }

    @include respond(tab-port) {
        grid-template-columns: 1fr 26rem 26rem 1fr;
        grid-template-rows: 1fr 25rem 1rem 7rem 7rem 20rem;
    }

    @include respond(phone) {
        grid-template-columns: 1fr 20rem 20rem 1fr;
        grid-template-rows: 10rem 10rem 1rem 7rem 7rem 1fr;
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 16rem 16rem 1fr;
        grid-template-rows: 2rem 10rem 1rem 7rem 7rem 1fr;
    }

    // WEB HERO
    &__web-hero-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 0;

        @include respond(tab-port) {
            background-image: url('../../../assets/home-page/h1__photo.jpg');
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
        }
    }
    
    &__web-hero-video {
        object-fit: cover;

        @include respond(tab-port) {
            display: none;
        }
    }

    // Slogan
    &__overlay {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background: rgba(0, 0, 0, .6);
        z-index: 1;
    }

    &__slogan {
        @include respond(big-desktop) {
            font-size: 7.5rem;
        }

        grid-row: 2 / 3;
        grid-column: 1 / -1;
        align-self: flex-end;
        z-index: 1;

        color: #fff;
        font-size: 6rem;
        letter-spacing: 2.5px;
        font-weight: $font-weight-bold;

        @include respond(tab-port) {
            font-size: 4.6rem;
            margin-bottom: 1rem;
        }

        @include respond(phone) {
            font-size: 3.6rem;
        }

        @include respond(small-phone) {
            font-size: 2.6rem;
            margin-bottom: 2rem;
        }
    }

    &__line {
        @include respond(big-desktop) {
            width: 78rem;
        }

        grid-row: 3 / 4;
        grid-column: 1 / -1;
        justify-self: center;
        align-content: center;
        z-index: 1;
        background: $color-yellow;
        width: 65rem;
        height: 5px;

        @include respond(tab-port) {
            width: 50rem;
        }

        @include respond(phone) {
            width: 40rem;
        }

        @include respond(small-phone) {
            width: 30rem;
        }
    }

    &__sub-slogan {
        @include respond(big-desktop) {
            font-size: 2.5rem;
        }

        grid-row: 4 / 5;
        grid-column: 1 / -1;
        align-self: center;
        z-index: 1;

        color: $color-grey;
        font-size: 2rem;
        font-weight: $font-weight-light;
        text-transform: uppercase;

        @include respond(phone) {
            font-size: 1.8rem;
            font-weight: $font-weight-regular;
        }

        @include respond(small-phone) {
            font-size: 1.4rem;
        }
    }

    &__button-1-link {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: center;
        z-index: 1;

        @include respond(tab-port) {
            justify-self: flex-end;
            margin-right: 2rem;
        }
    }

    // Button
    &__button {
        width: 18rem;
        height: 5rem;
        color: #fff;
        border: none;

        font-size: 2rem;
        font-weight: $font-weight-light;

        transition: .3s all ease;

        &--1 {
            background: rgba(78, 96, 119, .5);

            @include respond(phone) {
                background: rgba(78, 96, 119, .8);
                font-size: 1.8rem;
                width: 14rem;
            }

            @include respond(small-phone) {
                width: 10rem;
                height: 4rem;
                font-size: 1.4rem;
            }

            &:hover {
                cursor: pointer;
                background: $color-yellow;
                color: #000;
                font-weight: $font-weight-regular;
            }
        }

        &--2 {
            grid-row: 5 / 6;
            grid-column: 3 / 4;
            align-self: center;
            justify-self: center;
            z-index: 1;
            background: rgba(78, 96, 119, .5);

            @include respond(tab-port) {
                justify-self: flex-start;
                margin-left: 2rem;
            }

            @include respond(phone) {
                background: rgba(78, 96, 119, .8);
                font-size: 1.8rem;
                width: 14rem;
            }

            @include respond(small-phone) {
                width: 10rem;
                height: 4rem;
                font-size: 1.4rem;
            }

            &:hover {
                cursor: pointer;
                background: $color-yellow;
                color: #000;
                font-weight: $font-weight-regular;
            }
        }
    }
}