.hp4 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    @include respond(tab-land) {
        grid-template-rows: 20rem 1fr;
    }

    &__photo {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        height: 100%;
        width: 100%;

        background-image: url('../../../assets/home-page/h4/h4__photo.jpg');
        background-position: center;
        background-size: cover;
        filter: contrast(1.2) saturate(0);
        z-index: 0;

        @include respond(phone) {
            background-image: url('../../../assets/home-page/h4/h4__photo-sm.jpg');
        }
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        justify-self: flex-start;
        align-self: flex-end;

        color: #fff;
        text-align: left;
        font-size: 3.6rem;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        margin-bottom: 6rem;
        margin-left: 1rem;
        z-index: 2;

        @include respond(tab-port) {
            font-size: 3.2rem;
        }

        @include respond(phone) {
            font-size: 2.8rem;
            margin-bottom: 8rem;
        }

        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    &__banner {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        justify-self: self-start;
        align-self: flex-end;

        height: 12rem;
        width: 60rem;
        background: #000;
        z-index: 1;

        @include respond(tab-port) {
            opacity: .8;
            width: 50rem;
        }

        @include respond(phone) {
            width: 38rem;
            height: 14rem;
        }

        @include respond(small-phone) {
            width: 32rem;
        }
    }

    &__line {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        justify-self: flex-start;
        align-self: flex-end;

        width: 95%;
        height: 5px;
        background: $color-yellow;
        margin-bottom: 4.5rem;
        margin-left: 1rem;
        z-index: 1;

        @include respond(phone) {
            margin-bottom: 6.5rem;
        }
    }

    &__paragraph {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        justify-self: left;
        align-self: flex-end;

        color: #fff;
        text-align: left;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        z-index: 1;
        font-weight: $font-weight-light;
        margin-left: 1rem;

        @include respond(tab-port) {
            font-size: 1.2rem;
        }

        @include respond(phone) {
            margin-bottom: 1rem;
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            font-size: 1.2rem;
        }
    }
}

